{% extends "base.html" %}
{% block content %}
<p>
Bienvenu à vous,<br/>
Voici les commandes et instructions qui vous aiderons surement:
</p>
<p>


</p>
{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}
